var settings = {
  port: '3000'
}; 

settings.mysql = {
  host : 'localhost',
  user     : 'xxxx',
  password : 'xxxx',
  database : 'xxxx'
};

// Override default settings
switch(process.env.NODE_ENV){
  case 'production':
    settings.port = 3000;
    settings.mysql = {
		host : 'xxx.xxx.xxx.xxx',
		port : 'xxx',
		user     : 'xxx',
		password : 'xxxxxx',
		database : 'xxxx'
    }
  break;
  case 'staging':
    settings.port = 3030;
    settings.mysql = {
		host : 'localhost',
		port : '3306',
		user     : 'xxxx',
		password : 'xxxx',
		database : 'xxxx'
    }
  break;     
}